// formas
$box-shadow: 0 2px 10px 0 rgb(20, 19, 19);
$ancho-total: 100%;
$ancho-medio: 75%;
$ancho-card: 20%;
$border-rad: 3rem;
$alto-L: 400px;

// text
$fuente-med: 1em;
$fuente-s: 0.8em;
$fuente-l: 1.4em;
$espaciado-simple: 10px;
$espaciado-doble: 20px;
$mayus: uppercase;

// boton
$border-bot: 1rem;
$ancho-bot: 40px;
$pad-bot: 5px;
