/* Importación de fuentes de google fonts  */
@import url(https://fonts.googleapis.com/css?family=Noto+Sans);
* {
  font-family: "Noto Sans", sans-serif;
  padding: 0;
  margin: 0;
}

body {
  background: linear-gradient(#00221c, #d7d2cc);
}
img {
  box-shadow: 0 0 10px #ffffff;
}
h1 {
  font-size: 39px;
  text-align: letf;
  padding-bottom: 20px;
  color: #0a7979;
}
h2 {
  color: white;
  background: #0a7979;
  border-color: aliceblue;
  padding: 5px;
}

h3 {
  font-size: 16px;
  padding-bottom: 30px;
  color: #0a7979;
}

p {
  font-size: 14px;
  color: #ffffff;
}
header {
  display: inline-block;
  position: fixed;
  background-color: #9cc;
  color: #fff;
  width: 100%;
  height: 13%;
  padding: 20px;
  z-index: 100;
}

header#head h1 p {
  display: inline;
  list-style: none;
  background: #e8eef4;
  padding: 0;
  margin-top: 20px;
}

nav {
  position: relative;
  background-color: #0a7979;
  color: white;
  width: 98%;
  height: 13%;
  margin: 0px auto;
}
ul {
  color: #ffffff;
}
ul#menu li {
  margin-left: 50px;
  display: inline-block;
  list-style: none;
  color: #ffffff;
  padding: 10px;
}

ul#menu li a {
  font-weight: bold;
  text-decoration: none;
  line-height: 60px;
  color: #ffffff;
}
#main-p {
  color: #fff;
  font-weight: bold;
  font-size: 16px;
}
#first-section {
  padding: 160px;
}
/* Estilos preguntas frecuentes */
.faq {
  position: relative;
  color: #fff;
  width: 98%;
  height: 13%;
  align-items: center;
}
.faq img {
  display: block;
  margin: auto;
}
.faq1 {
  border: 5px;
  border-color: #ffffff;
}

/* Estilo de formulario de contacto*/

/* .contacto {
} */
.formulario {
  height: 100%;
  font-family: "Noto Sans", sans-serif;
  background-color: rgb(199, 238, 238);
  border: 20px;
  margin: 20px;
}

.contact_form {
  width: 460px;
  height: auto;
  margin: 10px auto;
  border-radius: 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  background-color: #d4cbb8;
  padding-left: 30px;
}

input {
  background-color: #fbfbfb;
  width: 300px;
  height: 40px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #0a7979;
  margin-top: 30px;
  padding-left: 30px;
  margin-bottom: 20px;
  margin: 20px;
}

textarea {
  background-color: #fbfbfb;
  width: 405px;
  height: 150px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #0a7979;
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
  padding-top: 15px;
}

label {
  display: block;
  float: center;
  margin: 20px;
  color: #0a7979;
}

button {
  height: 45px;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 20px;
  margin-top: 10px;
  text-transform: uppercase;
  background-color: #9cc;
  border-color: #9cc;
  border-style: solid;
  border-radius: 10px;
  width: 420px;
  cursor: pointer;
  box-shadow: 0 0 10px #00221c;
  text-decoration: none;
}

button p,
a {
  color: #0a7979;
  font-weight: bold;
  font-size: 20px;
}

span {
  font-size: 30px;
  color: #030e13;
  margin: 20px;
}

.aviso {
  font-size: 13px;
  color: #0c5d83;
}
select {
  font-size: 20px;
  text-align: letf;
  padding-bottom: 20px;
  color: #0a7979;
  margin: 20px;
}

/* Servicios */
.list1 {
  list-style-type: square;
}
.list2 {
  list-style: decimal;
}
table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 3px solid purple;
}
/* Planes */
.plan {
  border: 5px solid;
  border-color: #0a7979;
  padding: 5px;
}

/* Aqui va el estilo del footer */
footer {
  position: relative;
  background-color: rgb(226, 235, 235);
  color: #fff;
  border: 5px solid;
  border-color: #0a7979;
}
/* flexbox */
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.item {
  width: 48%;
  padding-bottom: 10px;
  margin: 10px;
  position: relative;
}
.item img {
  width: 600px;
  height: 400px;
}
/* Grid aplicado a Servicio, cambie las tablas */
.container-table {
  width: 90%;
  background-color: rgb(255, 255, 255);
  margin: 40px;
  box-shadow: 0 0 20px #064444;
  padding: 20px;

  display: grid;
  grid-template-rows: repeat(3, 1 fr);
  grid-auto-rows: 60px 200px;
}

.tb-title {
  grid-column-start: 1;
  grid-column-end: 4;
  background-color: #0a7979;
  display: flex;
  font-size: 20px;
  font-weight: bold;
  justify-content: center;
  color: #ffffff;
  border: 5px solid;
  border-color: rgb(199, 238, 238);
}
.col {
  padding: 10px;
  border: 5px;
  border-color: #0a7979;
}
.item2 {
  margin: 10px;
  font-weight: bolder;
}
/* Modificaciones para segunda entrega */
.right {
  text-align: right;
}
a {
  text-decoration: none;
}
button {
  transition: all 0.5s;
  cursor: pointer;
}
button a {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
button:hover {
  background-color: #ffffff;
  animation: pulse 1s;
  box-shadow: 0 0 0 2em rgba(#fff, 0);
}

button:focus {
  background-color: #ffffff;
  box-shadow: 0 5px rgb(0, 0, 0);
  transform: translateY(4px);
}
nav li:hover {
  opacity: 0.5;
}
.item img {
  opacity: 0.7;
}
.item img:hover {
  opacity: 1;
}
