.divider {
  height: 3rem;
  opacity: 0;
}
.contenedor-resumen {
  width: $ancho-total - 10%;
  height: $alto-L;
  border-radius: $border-rad;
  box-shadow: $box-shadow;
  border-color: $primary-color;
  border: 3px;
  background-color: $bg-color;
  display: grid;
  grid-template-columns: 1fr 1fr;
  vertical-align: middle;
  opacity: 0.8;
  margin: auto;

  .img-resumen {
    display: block;
    width: 200px * 1.5px;
    margin: auto;
    box-shadow: $box-shadow * 2;
  }
  .resumen {
    display: block;
    background-color: $bg-color;
    width: 600px;
    margin: auto;
    padding: $espaciado-doble;
    border-radius: $border-rad;
    border-color: $primary-color;
  }
}
.features {
  padding-top: 20px;
  width: $ancho-total - 20%;
  height: $alto-L;
  border-radius: $border-rad;
  box-shadow: $box-shadow;
  border-color: $primary-color;
  border: 3px;
  background-color: $bg-color;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  vertical-align: middle;
  opacity: 0.8;
  margin: auto;
  padding: $espaciado-doble * 2;
}
.item-s {
  box-shadow: $box-shadow;
  transition: 0.5s;
  width: $ancho-medio;
  display: block;
  text-align: center;
}

.item-s:hover {
  box-shadow: 20;
}

i {
  padding-top: $espaciado-doble;
  font-size: 40px;
}
h3 {
  color: $primary-color;
  opacity: 0.5;
}
h3:hover {
  opacity: 1;
}
