/* Importación de fuentes de google fonts  */
@import url(https://fonts.googleapis.com/css?family=Noto+Sans);

* {
  font-family: "Noto Sans", sans-serif;
}

body {
  background: linear-gradient(#00221c, #d7d2cc);
}

img {
  box-shadow: 0 0 10px #ffffff;
}

h1 {
  font-size: 39px;
  text-align: letf;
  padding-bottom: 20px;
  color: rgb(7, 80, 225);
}

h2 {
  color: rgb(7, 80, 225);
}

h3 {
  font-size: 25px;
  padding-bottom: 30px;
  color: rgb(7, 80, 225);
}

.nav-link {
  color: white;
}

p {
  font-size: 14px;
  color: #ffffff;
}

header {
  display: inline-block;
  position: relative;
  background-color: #9cc;
  color: #fff;
  width: 100%;
  height: 13%;
  padding: 20px;
}

.aviso {
  font-size: 13px;
  color: #0c5d83;
}

select {
  font-size: 20px;
  text-align: letf;
  padding-bottom: 20px;
  color: #0a7979;
  margin: 20px;
}

.item {
  width: 48%;
  padding-bottom: 10px;
  margin: 10px;
  position: relative;

  img {
    width: 600px;
    height: 400px;
  }
}

/* Modificaciones para segunda entrega */

.right {
  text-align: right;
}

a {
  text-decoration: none;
}

button {
  &:hover {
    background-color: #ffffff;
    animation: pulse 1s;
    box-shadow: 0 0 0 2em rgba(#fff, 0);
  }

  &:focus {
    background-color: #ffffff;
    box-shadow: 0 5px rgb(0, 0, 0);
    transform: translateY(4px);
  }
}

nav li:hover {
  opacity: 0.5;
}

.item img {
  opacity: 0.7;

  &:hover {
    opacity: 1;
  }
}

.header-form {
  color: #36a0ff;
  font-size: 27px;
  padding: 10px;
}

.bigicon {
  font-size: 35px;
  color: #36a0ff;
}

.accordion-item {
  background-color: #36a0ff;
}

#formulario {
  width: 70%;
  height: auto;
  margin: auto;
  border-radius: 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  background-color: #36a0ff;
}

.divider {
  height: 3rem;
}

.form-select {
  width: auto;
}

/*  */

h2 {
  font-size: 50px;
  font-weight: 300;
  margin-bottom: 10px;
  line-height: 50px;
}

.highlight {
  color: #2ac5ed;
}

#content {
  padding: 70px 0;

  .features-list {
    padding-top: 35px;
  }
}

.features-list .feature-block {
  margin-bottom: 18px;

  .ico {
    font-size: 37px;
    line-height: 70px;
    width: 70px;
    height: 70px;
    background: #5accff;
    display: inline-block;
    border-radius: 50%;
    color: #ffffff;
    margin-bottom: 10px;
  }

  &.bottom-line {
    .ico {
      width: auto;
      height: auto;
      background: transparent;
      color: #5accff;
      text-align: center;
      font-size: 41px;
      vertical-align: top;
      margin-top: -10px;
    }

    .fa-github {
      font-size: 50px;
    }

    .fa-dashboard {
      font-size: 45px;
      margin-top: -15px;
    }

    .ico {
      float: left;
      margin-right: 15px;
      margin-left: 21px;
    }

    .features-content {
      padding-right: 15px;
      display: table;

      .name {
        margin-bottom: 5px;
      }

      .subname {
        font-size: 16px;
        margin-bottom: 12px;
      }
    }
  }

  .name {
    font-size: 20px;
    line-height: 1.25em;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .text {
    font-size: 12px;
    line-height: normal;
    margin-bottom: 15px;
  }
}

/* planes */

.card {
  border: none;
  padding: 10px 50px;

  &::after {
    position: absolute;
    z-index: -1;
    opacity: 0;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  }

  &:hover {
    transform: scale(1.02, 1.02);
    -webkit-transform: scale(1.02, 1.02);
    backface-visibility: hidden;
    will-change: transform;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.75) !important;

    &::after {
      opacity: 1;
    }

    .btn-outline-primary {
      color: white;
      background: #007bff;
    }
  }
}

.card-text {
  color: rgb(7, 80, 225);
}

/* footer */

footer {
  overflow: hidden;
  margin-top: 250px;
  background: #262626;
  color: #627482 !important;
  margin-bottom: 0;
  padding-bottom: 0;
}

small {
  font-size: calc(
    12px + (15 - 12) * ((100vw - 360px) / (1600 - 360))
  ) !important;
}

.bold-text {
  color: #989c9e !important;
}

.mt-55 {
  margin-top: calc(
    50px + (60 - 50) * ((100vw - 360px) / (1600 - 360))
  ) !important;
}

.social {
  font-size: 21px !important;
}

.rights {
  font-size: calc(
    10px + (12 - 10) * ((100vw - 360px) / (1600 - 360))
  ) !important;
}
